<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Набор утилит для работы с библиографическими метаданными{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <nav>
        <a href="{{ url_for('converter.index') }}">main</a>
        <a href="{{ url_for('converter.upload_files') }}">elibrary-excel</a>
        <a href="{{ url_for('converter.upload_txt_key_file') }}">key-extractor</a>
        <a href="{{ url_for('converter.upload_excel_key_file') }}">key-converter</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <small>© Андрей Гасилин, 2026</small>
</footer>
</body>
</html>
