{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Система конвертации библиографических метаданных</h2>
<p>
    <b>Включает в себя следующие инструменты:</b>
</p>
<ul>
    <li>Конвертор HTML-страниц в сводную таблицу Excel (html-excel)</li>
    <li>Конвертор Excel таблиц в файлы формата ИРБИС-64 (excel-irbis)</li>
    <li>Экстрактор ненормализованных ключевых слов в таблицу автозамены Excel (key-extractor)</li>
    <li>Конвертор таблицы автозамены Excel в задания для модуля Глобальной корректировки (key-converter)</li>
</ul>

<p>
    Перейдите на соответствующую вкладку для начала обработки.
</p>
{% endblock %}