{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Система конвертации библиографических метаданных</h2>
<p>
    <b>Включает в себя следующие инструменты:</b>
</p>
<ul>
    <li><a href="{{ url_for('converter.html_upload') }}">Конвертер HTML-страниц в сводную таблицу (html-excel)</a></li>
    <li><a href="{{ url_for('converter.excel_upload') }}">Конвертер таблиц в файлы формата ИРБИС-64 (excel-irbis)</a></li>
    <li><a href="{{ url_for('converter.upload_txt_key_file') }}">Экстрактор ненормализованных ключевых слов в таблицу автозамены (key-extractor)</a></li>
    <li><a href="{{ url_for('converter.upload_excel_key_file') }}">Конвертер таблицы автозамены Excel в задания для модуля глобальной корректировки (key-converter)</a></li>
</ul>

<p>
    Перейдите на соответствующую вкладку для начала обработки.
</p>
{% endblock %}